<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="employee" class="com.spring.third.Empolyee.EmployeeClass">
		<property name="id" value="101"></property>
		<property name="name" value="Latha"></property>
		<property name="salary" value="35000"></property>
		<property name="deptno" value="11"></property>
		<property name="doj" value="11-06-2024"></property>
	</bean>
</beans>