<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   
    <bean id="product" class="com.spring.fifth.DIformofobjects.ProductBean">
        <constructor-arg value="123"/>
        <constructor-arg value="John Doe"/>
        <constructor-arg value="999.99"/>
        <constructor-arg value="10"/>
    </bean>

    
    <bean id="order" class="com.spring.fifth.DIformofobjects.OrderBean">
        <constructor-arg value="1"/>
        <constructor-arg ref="product"/>
    </bean>

</beans>
